@charset 'utf-8';

$breakPoint-sp: 749px;
$breakPoint-pc: 750px;

$campusSize-sp: 750;
$campusSize-pc: 1440;

$imgPath: '../materials';

$maxPcWidth: 100%;
$maxTabletWidth: 1280px;

$breakpoints: (
  'sp': 'screen and (max-width: #{$breakPoint-sp})',
  'tab': 'screen and (min-width: #{$breakPoint-pc}) and (max-width: #{$maxTabletWidth})',
  'pc': 'screen and (min-width: #{$breakPoint-pc})',
) !default;

$baseFont: "Helvetica Neue", "Segoe UI", Helvetica, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif !default;
